* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.screen, .container, button {
    border-radius: 10px;
}
.screen, .container {
    border: 1px solid black;
}
.container {
    flex-direction: column;
    padding: 30px;
}
.screen {
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 40px;
}
button, .screen {
    background-color: black;
    color: white;
}
body, .container, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button {
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}
.stopwatch {
    margin-top: 250px;
}
h1 {
    display: inline;
}
.mode {
    margin-left: 100px;
}